.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;

  li {
    display: inline;
    cursor: default;

    &:hover {
      button {
        border-color: rgba(175, 47, 47, 0.2);
      }
    }

    button {
      display: inline-block;
      color: inherit;
      margin: 3px;
      padding: 3px 7px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 3px;

      &.selected {
        border-color: rgba(175, 47, 47, 0.4);
      }
      &:not(.selected) {
        cursor: pointer;
      }
    }
  }
}
