.todo-list{
  li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;

    &:last-child {
      border-bottom: none;
    }

    &.completed {
      .label {
        .description {
          color: #cdcdcd;
          text-decoration: line-through;
        }
      }
    }
    &.editing {
      border-bottom: none;
      padding: 0;

      &:last-child {
        margin-bottom: -1px;
      }

      .edit {
        display: block;
        width: calc(100% - 43px);
        padding: 12px 16px;
        margin: 0 0 0 43px;
      }
      .view {
        display: none;
      }
    }

    .toggle {
      text-align: center;
      width: 40px;
      /* auto, since non-WebKit browsers doesn't support input styling */
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none; /* Mobile Safari */
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      opacity: 0;

      @media screen and (-webkit-min-device-pixel-ratio:0) {
          background: none;
          height: 40px;
      }

      &:checked + .label {
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23f7b4b4%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
      }
    }
    .toggle + .label {
      /*
        Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
        IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
      */
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23f7dcdc%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: center left;
    }
    .icon {
      position: absolute;
      top: 0;
      bottom: -3px;
      width: 30px;
      height: 40px;
      font-size: 0;
      color: #cc9a9a;
      transition: color 0.2s ease-out;
      cursor: pointer;

      &:hover {
        color: #af5b5e;
      }
    }
    .icon-destroy {
      right: 10px;
      bottom: 5px;
      margin: auto 0;
      &:after {
        content: '×';
        font-size: 34px;
      }
    }
    .icon-edit {
      font-size: 0;
      right: 45px;
      bottom: 5px;
      margin: auto 0;

      &:after {
        content: '✎';
        font-size: 19px;
      }
    }
    .edit {
      display: none;
    }
    .label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 85px 15px 60px;

      .created {
        font-size: 13px;
        color: gray;
        text-align: end;

      }
      .description {
        word-wrap: break-word;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
        font-weight: 400;
        color: #4d4d4d;

        @media (max-width: 360px) {
          font-size: 20px;
        }
      }
      .counters {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 35%;
        flex-shrink: 0;

        @media (max-width: 360px) {
          display: none;
        }
      }

    }
  }
}
